.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand Pantsdora

.container
  .row
    .span12
      %form.form-search
        %input.input-medium.span4#search-terms{:placeholder => "Search for pants..."}
        %button.btn.btn-primary#search-submit Start pants radio!
  .row#pants-location
      
